{% layout 'layout.liquid' %}
{% block content %}

<h1><a href="/thenews">Go back</a></h1>


  {% for story in favorites %}
  <div class="card">
    <img src={{story.image}} style="width: 200px" class="card-img-top" >
      <h5 class="card-title">{{story.title}}</h5>
      <p class="card-text">{{story.description}}</p>
   <form action="/thenews/{{story._id}}" method="POST">
       <input value="{{story.description}}" name="description" hidden>
       <input value="{{story.title}}" name="title" hidden>
       <input value="{{story.image}}" name="image" hidden>

   </form>
</div>
{% endfor %}


{% endblock %}