{% layout 'layout.liquid' %}
{% block content %}

<!-- news: [
{
   author: "RNS",
   category: [
      "exchange",
      "stock"
   ],
   description: "London Stock Exchange plc is not responsible for and does not check content on this Website. Website users are responsible for checking content. Any news item (including any prospectus) which is addre...",
   id: "12224614-f22f-4e7b-8cc8-4b9ed3fc075f",
   image: "https://www.londonstockexchange.com/favicon.ico",
   language: "en",
   published: "2022-07-18 17:31:40 +0000",
   title: "Transaction in Own Shares, price: 1,643.50 - 3.59%",
   url: "https://www.londonstockexchange.com/news-article/BRBY/transaction-in-own-shares/15545592"
}, -->

<!-- {{data.news[1].id}}
     {{data.news[1].title}}
     {{data.news[1].description}} -->

  


  {% for story in data.news %}

  <div class = "mystories" style="text-align: center;">
   <div style="width: 10%">
      <div class="card" style="width: 18rem;">
        <img src={{story.image}} style="width: 200px" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">{{story.title}}</h5>
          <p class="card-text">{{story.description}}</p>
          <form action="favorites/{{story.id}}" method="POST">
            <input type="submit" value="Favorite" class="btn btn-danger">

         </form>
        </div>
      </div>
    </div>
{% endfor %}

{% endblock %}